{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Shiftbid Create Page
{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="text-center"><u>Shiftbid Create Form</u></h2>
</div>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <hr>
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>

{% endblock content %}